{% extends "layout.html.twig" %}
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {% form_theme commentForm 'bootstrap_3_horizontal_layout.html.twig' %}
{% endif %}
{% block title %}{{ article.title }}{% endblock %}

{% block content %}
    <h2>{{ article.title }}</h2>
    <div>{{ article.content|raw }}</div>

    <h3>Commentaires</h3>
    {% for comment in comments %}
  {{ comment.content }}<br>
    {% else %}
        No comments yet.
    {% endfor %}

    <h3>Ajouter un commentaire</h3>


        {{ form_start(commentForm) }}

        {{ form_row(commentForm.email) }}

        {{ form_row(commentForm.website) }}

        {{ form_row(commentForm.content) }}


        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <input type="submit" class="btn btn-primary" value="Save" />
            </div>
        </div>
        {{ form_end(commentForm) }}
        {% for flashMessage in app.session.flashbag.get('success') %}
            <div class="alert alert-success">
                {{ flashMessage }}
            </div>
        {% endfor %}

{% endblock %}